{{ define "errorPage" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{t .ErrorTitle }}</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
    <div class="error-container">
        <h1 class="error-title">{{t .ErrorTitle }}</h1>
        <p class="error-message">{{t .ErrorParagraph}}</p>
        <a href="{{reverse "meetings"}}" class="home-button">{{t "ReturnToIndexLinkText"}}</a>
    </div>
    </body>
    </html>
{{ end }}