{{ define "meetings" }}
	<!DOCTYPE html>
	<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{t "meetingListHeader"}}</title>
		<link rel="stylesheet" href="/static/css/style.css">
	</head>

	<body>
	<div class="container">
		<div class="card header">
			<h1>{{t "meetingListHeader"}}</h1>
			<a class="meeting-button meeting-button-details" href={{ reverse "statistics" }}>
                {{t "meetingListHeaderSeeStatisticsButton"}}
			</a>
		</div>

		<div class="card">
			<form class="filters" method="GET" action="{{ reverse " meetings" }}">
				<div class="filter-group">
					<label for="start-date">{{t "meetingListFilterStartDate"}}</label>
					<input type="date" id="start-date" name="start-date" value="{{.Request.StartDate}}">
				</div>
				<div class="filter-group">
					<label for="end-date">{{t "meetingListFilterEndDate"}}</label>
					<input type="date" id="end-date" name="end-date" value="{{.Request.EndDate}}">
				</div>


				<div class="server-filter-card">
					Server filter
					<ul class="server-filter-servers">
						<li>
							<input class="server-filter-checkbox" type="checkbox" id="server-filter-bbb.example.de"
								   name="server-filter" value="bbb.example.de">
							<label for="server-filter-bbb.example.de" class="server-filter-label">bbb.example.de (4
								user)</label>
						</li>
						<li>
							<input class="server-filter-checkbox" type="checkbox"
								   id="server-filter-bbb.bigbluebutton.org" name="server-filter"
								   value="bbb.bigbluebutton.org">
							<label for="server-filter-bbb.bigbluebutton.org"
								   class="server-filter-label">bbb.bigbluebutton.org (12 user)</label>
						</li>
						<li>
							<input class="server-filter-checkbox" type="checkbox" id="server-filter-bbb1.whitehouse.gov"
								   name="server-filter" value="bbb1.whitehouse.gov">
							<label for="server-filter-bbb1.whitehouse.gov"
								   class="server-filter-label">bbb1.whitehouse.gov (50 user)</label>
						</li>
					</ul>
					<input type="submit" class="meeting-button" id="server-filter-submit" value="{{t "
                    meetingListFilterFilterButton"}}">
					<div class=" filter-group filter-action" id="filter-group-submit-div">
					<input type="submit" class="meeting-button" id="filter-group-submit-input" value="{{t "
                    meetingListFilterFilterButton"}}">
					</div>
			</form>
		</div>


		<div class=" meetings-list">
					<!-- Example Meeting Card -->
                    {{ range .Meetings}}
						<div class="meeting-card" tabindex="0">
							<div class="status-badge status-{{if .Active}}active{{else}}ended{{end}}">{{ if .Active}}{{t
                                "MeetingActive"}}{{else}}{{t "MeetingEnded"}}{{end}}</div>
							<h3>{{ .BBBEventsMeeting.Name}}</h3>
							<div class="detail-item">
								<span class="detail-label">{{t "ReportMeetingDetailBBBHostname"}}</span>
								<span class="detail-value">{{ .BbbHostname }}</span>
							</div>
							<div class="detail-item">
								<span class="detail-label">{{t "MeetingCreated"}}</span>
								<span class="detail-value">{{ .BBBEventsMeeting.CreateDate }}</span>
							</div>


							<div class="detail-item">
								<a class="meeting-button meeting-button-to-report" href="{{ reverse " report"
                                .BBBEventsMeeting.InternalMeetingID }}"
								   onclick="window.location.href='{{ reverse " report"
                                   .BBBEventsMeeting.InternalMeetingID }}'">
                                    {{t "MeetingToReport"}}
								</a>
								<a class="meeting-button meeting-button-details">
                                    {{t "MeetingOpenDetails"}}
								</a>
							</div>
							<div class="meeting-details">
								<div class="detail-item">
									<span class="detail-label">{{t "MeetingCreateTime"}}</span>
									<span class="detail-value">{{formatTime .BBBEventsMeeting.CreateTime }}</span>
								</div>
							</div>
						</div>
                    {{ else }}
						<div class="meeting-card" tabindex="0">{{t "MeetingNoMeetingsExist"}}</div>
                    {{ end }}
				</div>
		</div>
	</body>

	</html>
{{ end }}