<!--
Copyright 2025 Samuel Kemper

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

{{ define "meetings" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{t "meetingListHeader"}}</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
    <div class="container">
        <div class="card header">
            <h1>{{t "meetingListHeader"}}</h1>
        </div>

        <div class="card">
            <form class="filters" method="GET" action="{{ reverse "meetings" }}">
                <div class="filter-group">
                    <label for="start-date">{{t  "meetingListFilterStartDate"}}</label>
                    <input type="date" id="start-date" name="start-date" value="{{.Request.StartDate}}">
                </div>
                <div class="filter-group">
                    <label for="end-date">{{t "meetingListFilterEndDate"}}</label>
                    <input type="date" id="end-date" name="end-date" value="{{.Request.EndDate}}">
                </div>
                <div class="filter-group filter-action">
                    <button type="submit" class="meeting-button">{{t "meetingListFilterFilterButton"}}</button>
                </div>
            </form>
        </div>


        <div class="meetings-list">
            <!-- Example Meeting Card -->
            {{ range .Meetings}}
                <div class="meeting-card" tabindex="0">
                    <div class="status-badge status-{{if .BBBEventsMeeting.Active}}active{{else}}ended{{end}}">{{ if .BBBEventsMeeting.Active}}{{t "MeetingActive"}}{{else}}{{t "MeetingEnded"}}{{end}}</div>
                    <h3>{{ .BBBEventsMeeting.Name}}</h3>
                    <div class="detail-item">
                        <span class="detail-label">{{t "MeetingCreated"}}</span>
                        <span class="detail-value">{{ .BBBEventsMeeting.CreateDate }}</span>
                    </div>
                    <div class="detail-item">
                        <a class="meeting-button meeting-button-to-report"
                           href="{{ reverse "report" .BBBEventsMeeting.InternalMeetingID }}"
                           onclick="window.location.href='{{ reverse "report" .BBBEventsMeeting.InternalMeetingID }}'">
                            {{t "MeetingToReport"}}
                        </a>
                        <a class="meeting-button meeting-button-details">
                            {{t "MeetingOpenDetails"}}
                        </a>
                    </div>
                    <div class="meeting-details">
                        <div class="detail-item">
                            <span class="detail-label">{{t "ReportMeetingDetailBBBHostname"}}</span>
                            <span class="detail-value">{{ .BbbHostname }}</span>
                        </div>
                        <div class="detail-item">
                            <span class="detail-label">{{t "MeetingMaxUsers"}}</span>
                            <span class="detail-value">{{ .BBBEventsMeeting.MaxUsers }}</span>
                        </div>
                        <div class="detail-item">
                            <span class="detail-label">{{t "MeetingDuration"}}</span>
                            <span class="detail-value">{{ .BBBEventsMeeting.Duration }}</span>
                        </div>
                        <div class="detail-item">
                            <span class="detail-label">{{t "MeetingRecordingStatusHeader"}}</span>
                            <span class="detail-value">{{if .BBBEventsMeeting.Record }}{{t "MeetingRecordingEnabled"}}{{else}}{{t "MeetingRecordingDisabled"}}{{end}}</span>
                        </div>
                    </div>
                </div>
            {{ else }}
                <div class="meeting-card" tabindex="0">{{t "MeetingNoMeetingsExist"}}</div>
            {{ end }}
        </div>
    </div>
    </div>
    </body>
    </html>
{{ end }}