{{ define "meetings" }}
	<!DOCTYPE html>
	<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{t "meetingListHeader"}}</title>
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/fontawesome.min.css">
	</head>

	<body>
	<div class="container">
		<div class="card header">
			<h1>{{t "meetingListHeader"}}</h1>
			<a class="meeting-button meeting-button-details" href={{ reverse "statistics" }}>
				<i class="fas fa-chart-line"></i>
                {{t "meetingListHeaderSeeStatisticsButton"}}
			</a>
			<a class="meeting-button meeting-button-details" href={{ reverse "recordings" }} style="margin-left: 1rem;">
			<i class="fas fa-video"></i>
            {{t "meetingListHeaderSeeRecordingsButton" }}
			</a>
		</div>

		<div class="card">
			<h2>Meetings by Server</h2>
            {{ template "server_diagram" .ServerStats }}
		</div>

		<div class="card">
			<form class="filters" method="GET" action="{{ reverse "meetings" }}">
				<div class="filter-group">
					<label for="start-date">{{t "meetingListFilterStartDate"}}</label>
					<input type="date" id="start-date" name="start-date" value="{{.Request.StartDate}}">
				</div>
				<div class="filter-group">
					<label for="end-date">{{t "meetingListFilterEndDate"}}</label>
					<input type="date" id="end-date" name="end-date" value="{{.Request.EndDate}}">
				</div>
				<div class="server-filter-card">
					Server filter
					<ul class="server-filter-servers">
                        {{ range .Request.ServerFilter }}
							<li>
								<input class="server-filter-checkbox"
									   type="checkbox" {{if .FilteredFor }} checked {{end}}
									   id="server-filter-{{.Hostname}}" name="server-filter-bbb.0gb.de">
								<label for="server-filter-{{.Hostname}}" class="server-filter-label">{{.Hostname}}
									({{.Users}}
                                    {{t "meetingListUserCountLabel"}})</label>
							</li>
                        {{ end }}
					</ul>
					<input type="submit" class="meeting-button" id="server-filter-submit"
						   value="{{t "meetingListFilterFilterButton"}}">
				</div>

				<div class=" filter-group filter-action" id="filter-group-submit-div">
					<input type="submit" class="meeting-button" id="filter-group-submit-input"
						   value="{{t "meetingListFilterFilterButton"}}">
				</div>


			</form>

		</div>


		<div class="reload-container" onclick="location.reload()">
			<a href="{{reverse "meetings" }}?ts={{ timestamp }}" class="reload-button">
				<i class="fa-solid fa-rotate-right"></i>
				{{t "meetingListReloadButton"}}
			</a>
		</div>

		<div class=" meetings-list">
					<!-- Example Meeting Card -->
                    {{ range .Meetings}}
						<div class="meeting-card" tabindex="0">
							<div class="status-badge status-{{if .Active}}active{{else}}ended{{end}}">{{ if .Active}}{{t "MeetingActive"}}{{else}}{{t "MeetingEnded"}}{{end}}</div>
							<h3>{{ .BBBEventsMeeting.Name}}</h3>
							<div class="detail-item">
								<span class="detail-label">{{t "ReportMeetingDetailBBBHostname"}}</span>
								<span class="detail-value">{{ .BbbHostname }}</span>
							</div>
							<div class="detail-item">
								<span class="detail-label">{{t "MeetingCreated"}}</span>
								<span class="detail-value">{{ .BBBEventsMeeting.CreateDate }}</span>


							</div>


							<div class="detail-item">
								<a class="meeting-button meeting-button-to-report"
								   href="{{ reverse "report" .BBBEventsMeeting.InternalMeetingID }}">
                                    {{t "MeetingToReport"}}
								</a>
								<a class="meeting-button meeting-button-details">
                                    {{t "MeetingOpenDetails"}}
								</a>
							</div>
							<div class="meeting-details">
								<div class="detail-item">
									<span class="detail-label">{{t "MeetingCreateTime"}}</span>
									<span class="detail-value">{{formatTime .BBBEventsMeeting.CreateTime }}</span>
									<span class="detail-label">{{t "MeetingUserCount"}}</span>
									<span class="detail-value">{{ .UserCount }}</span>
								</div>
							</div>
						</div>
                    {{ else }}
						<div class="meeting-card" tabindex="0">{{t "MeetingNoMeetingsExist"}}</div>
                    {{ end }}
				</div>
		</div>
	</body>

	</html>
{{ end }}