{{ define "server_diagram" }}
    {{ if .ServerCounts  }}
		<div class="server-bar">
            {{ range .ServerCounts }}
				<div class="server-section" style="--width: calc(calc({{ .Meetings }}/{{$.TotalMeetings}})* 100%);"
					 title="{{ .Hostname }}: {{ .Meetings }} meetings"
					 aria-label="{{ .Hostname }}: {{ .Meetings }} meetings">
					<span class="server-name">{{ .Hostname }}</span>
					<span class="meeting-count">({{ .Meetings }} {{t "ServerStatsMeetings"}})</span>
				</div>
            {{ end }}
		</div>
    {{end}}
{{ end }}