{{ define "inspectReport" }}
	<!DOCTYPE html>
	<html lang="{{t "CurrentISO639"}}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{t "ReportHeader"}}</title>
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/fontawesome.min.css">
	</head>
	<body>
	<div class="container">
		<div class="action-buttons">
			<button class="action-button" onclick="window.print()">
				<i class="fas fa-print"></i>
				<span>{{t "ReportPrintReportButton"}}</span>
			</button>
			<a class="action-button" href="{{reverse "inspectedReportCsv" .InternalMeetingID}}?{{.FilteredUsersParam}}">
				<i class="fas fa-file-excel"></i>
				<span>{{t "ReportOpenInExcelButton"}}</span>
			</a>
		</div>

		<div class="card header">
			<h1>{{t "ReportHeader"}}</h1>
		</div>
		<a class="meeting-button report-back-meeting-button" href="{{reverse "meetings"}}" id="topBackToMeetings">
			<i class="fas fa-arrow-left"></i> {{t "BackToMeetingsButton"}}
		</a>

		<!-- Meeting Details -->
        {{template "meetingdetails" .Report.Details}}

		<div class="card">
			<h2>{{t "ReportParticipantsHeader"}}</h2>
			<form class="participants-list">
				<div id="gdpr-filter-form">
					<span>{{t "MeetingReportMeetingDetailsGDPRCheckbox"}}</span>
					<label class="switch" id="gdpr-label">
						<input type="checkbox" name="gdpr" {{ if .Gdpr  }}checked{{ end }}>
						<span class="slider"></span>
					</label>
				</div>
				{{ with .Report.Participants }}
                    {{ range . }}
						<div>
							<input type="checkbox" class="participant-checkbox" name="{{.InternalUserID}}"
								   id="{{.InternalUserID}}" {{if .IsFilteredFor}}checked{{end}}/>
							<label class="participant-card" for="{{.InternalUserID}}">
								<h3>{{ .Name }}</h3>
								<span class="role-badge role-moderator">{{ .Role }}</span>
							</label>
						</div>
					{{ end }}
				{{ end }}
				<input type="submit" class="meeting-button participant-filter-submit" value="filter">
			</form>
		</div>

        {{ if .MeetingActive }}
			<div class="reload-container" onclick="location.reload()">
				<a href="{{reverse "inspectReport" .InternalMeetingID}}?{{.FilteredUsersParam}}&ts={{ timestamp }}"
				   class="reload-button">
					<i class="fa-solid fa-rotate-right"></i>
					Reload
				</a>
			</div>
        {{ end }}

		<!-- Recordings -->
        {{ if .Report.Recordings }}
            {{template "inlineRecordings" .Report.Recordings}}
        {{ end }}
		<!-- Timeline -->
        {{template "timeline" .Report.Timeline}}

		<a class="meeting-button report-back-meeting-button" href="{{reverse "meetings"}}" id="bottomBackToMeetings">
			<i class="fas fa-arrow-left"></i> {{t "BackToMeetingsButton"}}
		</a>
	</div>
	</body>
	</html>

{{ end }}